body {
    background: rgb(196, 216, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    height: 50vw;
  }
  h1{
    font-family: 'Press Start 2P', cursive; 
    position: absolute;
    top:5vmin;
  }
  a{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top:80vmin;
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    font-weight: 600;
  }
.planet{
  background-color: pink;
  width: 110px;
  height: 110px;
  position:absolute;
  border-radius: 50%;
  background-image: url(files/images/planet.png);
  background-size: contain;
}
.circle {
    border-top: 5px solid rgb(184, 118, 201);
    border-bottom: 5px solid rgb(255, 207, 255);
    border-radius: 50%;
    width: 420px;
    height: 120px;
    animation: spin 5s linear infinite;
    top:50vmin;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }