*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Oswald', sans-serif;
}

header{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    justify-items: center;
}
header h1{
    font-size: 8vim;
    font-weight: 400;
    color: burlywood;
    text-align: center;
    
}

.bg-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

p{
    font-size: 5rem;
    margin: 5rem 2rem;
    font-weight: 200;
    color: white;
}