body{
    background: pink;
    margin-left: 0px;
    margin-right: 0px;
}
h1{
    background:rgb(230, 122, 224);
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-top:rgb(72, 218, 72);
    border-bottom:rgb(230, 122, 224);
    border-left: rgb(230, 122, 224);
    border-right: rgb(230, 122, 224);
    border-style: solid;
    border-width: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h2{
    background:rgb(243, 126, 43);
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-top:rgb(243, 126, 43);
    border-bottom: rgb(72, 218, 72);
    border-left: rgb(243, 126, 43);
    border-right: rgb(243, 126, 43);
    border-style: solid;
    border-width: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

section{
    background: rgb(252, 246, 192);
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

p{
   background: rgb(182, 220, 241); 
   font-family: sans-serif;
   font-size: 12px;
   padding: 10px;
   margin-top: 0px;
   margin-left: 20px;
   margin-right: 20px;
}