body{
    background-color: rgb(224, 201, 245);
}
 
h1{
    font-family: elliotts-blue-eyeshadow,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
}
 
p{
    font-family: bilo,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}
 
a{
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: .5em;
    display: flex;
    justify-content: center;
}
 
 
  a:visited {
    color: rgb(227, 217, 255);
  }
  
  a:hover {
    color: rgb(139, 199, 218);
  }
  
.button{
    font-family: bilo,sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 7vmin;
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: rgb(68, 81, 109);
    height: 10vmin;
    width: 80vmin;
    animation-name: button;
    animation-duration: 4s;
}
 
  @keyframes button {
    from {background-color: rgb(224, 201, 245);}
    to {background-color: rgb(68, 81, 109);}
  }
