*{margin: 0; padding: 0;}

h1{
    text-align: center;
    font-size: 40px;
    padding: 1vmin;
    color:rgb(255, 255, 255);
    top: 0vmin;
    width: 100%; 
}

a{
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: .5em;
    display: flex;
}


  a:visited {
    color: rgb(255, 255, 255);
  }
  
  a:hover {
    color: rgb(5, 65, 30);
  }
  
.home{
  font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: .5vmin;
    display: flex;
    justify-content: center;
}

body{
    font-family: 'Creepster', cursive;
    background-color: rgb(95, 122, 97);
}

@media screen and (max-width: 800px) {
    .column {
      width: 50%;
    }
  }

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vmin;
    height: 100vh;
    margin: 2vmin;
    padding-top: 2vmin;

}

.grid-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first{
    grid-row: 1/ span 2;
}

.sixth{
    grid-row: 2/ span 3;
}

.last{
    grid-column: 3/ span 2;
    grid-row: 3/span 2;
}