body{
    background: pink;
}

h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

h2{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

button{
    display: block;
    justify-content: center;
    margin: 0 auto; 
}

.displayRandomImages {
    justify-content: center;
    margin: 0 auto;
}

a{
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: .5em;
    display: flex;
    justify-content: center;
}


  a:visited {
    color: rgb(255, 255, 255);
  }
  
  a:hover {
    color: rgb(5, 65, 30);
  }
  